*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
}
.topbare{
    text-align: center;
    line-height: 1.9;
    background-color: #0A192F;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    padding-top: 0;
    width: 100%;
    height: 110px;
    top: 0;
}
.topbare a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: sans-serif;
}
.topbare .nom{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.topbare-navigation a{
    padding-left: 20px;
}
.topbare-navigation a:hover, a.actif{
    text-decoration: underline;
    color: #64FFDA;
    transition: .3s;
}
.container{
     margin-top: 150px;
    font-family: sans-serif;
}
.main{
    margin: 20px;
    text-align: center;
    line-height: 1.3;
    color: #0A192F;
}
.main p{
    font-size: 20px;
}
.footer{
   padding: 5px;
   text-align: center;
   padding:15px 0;

}
.logo a{
    margin-right: 10px;
}
@media only screen and (min-width:1100px) {
    .topbare{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        height: 80px;;
    }
}