*{
    box-sizing: border-box;
}
body{
    margin:0 ;
}
.topbar{
    position: absolute;
    width: 100%;
    position: fixed;
    background-color: rgb(248, 228, 190);
    padding: 20px;
    z-index: 3;
}
.topbar-navigation a{
    padding-right: 50px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(134, 129, 129);
    transition: 3s;
}
.topbar-navigation a:hover{
    color: black;
}
.topbar-navigation{
    float: left;
}
.social a{
    padding-left: 15px;
    opacity: 0.4;
    transition: 3s;
}
.social a:hover{
    opacity: 1;
}
.social{
    float: right;
}
.labaniere{
    height: 250px;
    background-image: url(Icones/titre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    line-height: 1.5;
    font-family: sans-serif;
    color:rgb(134, 129, 129) ;
}
.container h1,h2{
    color: orange;
    font-family: serif;
}
.main{
    width: calc(100%- 800px);
    padding: 15px;
}
.aside{
    width: 800px;
    padding: 15px;
    background-color: rgb(248, 228, 190);
}
.footer{
    clear: both;
    background-color: rgb(248, 228, 190);
    font-size: 20px;
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    font-family: sans-serif;
}
.footer a{
    color:rgb(134, 129, 129);
    text-decoration: none;
    transition: 3s;
}
.footer a:hover{
    color: black;
    text-decoration: underline;
}
@media only screen and (max-width:635px) {
    .topbar{
        position: static;
        height: 100px;
        text-align: center;
    }
    .topbar-navigation{
        float: none;
        margin-bottom: 15px;
        padding-left: 50px;
    }
    .topbar-navigation a{
        white-space: nowrap;
    }
    .social{
        float: none;
    }
}
@media only screen and (max-width:635px) {
    .container{
        display: block;
    }
    .aside{
       width: 100%;
    }
}